[2015-01-15 15:43] pippinsplugins opened #10 "Support filtering by category on the calendar view"
It would be great is users could filter the calendar by category when viewing the calendar.

[2015-01-15 15:49] pippinsplugins opened #12 "Frontend submissions for Gravity Forms"
Allow people to submit events via Gravity Forms.

This should be built as a free add-on that supports both Lite and Full versions.

[2015-01-15 16:09] pippinsplugins opened #16 "Add unit tests"

[2015-01-18 01:25] growdev opened #20 "Add new calendar views"
Along with month view add:
- [ ] Two Week view  (2week)
- [ ] Week view   (week)
- [ ] Four day view  (4day)
- [ ] Day view     (day)

These would be shortcodes.  Possibly add the ability to switch between views.

[2015-01-18 01:25] growdev opened #21 "Check how things look on mobile"

[2015-03-24 21:36] growdev opened #28 "Customize output of events in widget"
Request:

![screenshot](https://cloud.githubusercontent.com/assets/290886/6813524/e71d167a-d243-11e4-8959-3017207864b0.png)

[2016-01-07 03:41] pippinsplugins opened #48 "Recurring events don't show up in upcoming events widget"
Events that recur do not get displayed in the upcoming events widget (or archive) except for their very first instance.

[2016-01-18 02:29] pippinsplugins opened #50 "Bi-weekly recurring events"
It's been requested a few times so would be nice to have.

[2016-01-19 05:36] pippinsplugins opened #52 "Order of recurring events not correct or consistent"
Recurring events should be displayed on the calendar in the same order each time they occur and also in chronological order.

See this image for an illustration of the current issue:
<img width="1273" alt="screen-shot-2016-01-18-at-10-44-08-pm" src="https://cloud.githubusercontent.com/assets/1034109/12410574/8c812528-bedb-11e5-9374-d9f63dcd92a4.png">

[2016-11-11 19:38] growdev opened #55 "Review Widget requests."
See if these can be worked into plugin or have a way to extend plugin to make these available.

1. A custom widget to list events in our format.

2. Handle the dates as a range. We don’t display the times since most of them are all-day events anyway.

3. A place to enter a URL to override the link. If we don’t supply a URL then the post title links to the full post, as usual. We use this to link d

[2017-01-19 21:50] growdev opened #66 "Start of Week dropdown has all 7 days"
But, the code only works for Sunday/Monday.

Either change code to work for all days, or remove options from dropdown.

@pippinsplugins thoughts?

[2017-01-25 14:46] pippinsplugins commented on #16
Unit tests connected with Travis! https://travis-ci.org/pippinsplugins/Sugar-Event-Calendar/branches

[2017-01-25 14:50] pippinsplugins commented on #16
@growdev could you work on getting the tests finished now please?

[2017-01-25 15:04] pippinsplugins commented on #52
@growdev I have two recurring events, one that starts at 7pm and one that starts at 10pm.

The 10pm event is shown first but should be shown second.

Can you test and replicate?

[2017-01-25 15:18] pippinsplugins commented on #48
I've just pushed a bunch of formatting fixes to `issue/48`. @growdev please review the changes; that's the formatting standard that should be used.

How's the archive view coming?

[2017-01-25 15:22] pippinsplugins commented on #20
@growdev this is working great! Just one change we need: on the `4day` and `4day` types, we need to include the day of the month in the calendar headers, otherwise it's impossible to tell what day of the month it is.

[2017-01-25 15:23] pippinsplugins commented on #20
Oh actually I guess the day number is still in the calendar cell . . . ok let's leave it as is. Merging!

[2017-01-25 15:23] #20 closed

[2017-01-25 15:25] pippinsplugins commented on #10
This has stopped working. I suspect due to the changes in #20.

[2017-01-25 15:27] pippinsplugins commented on #28
@growdev Could you please work on the upgrade routine and adjust the formatting (like I did in #48)?

[2017-01-25 15:28] pippinsplugins commented on #21
@growdev could we make some progress here?

[2017-02-01 02:35] pippinsplugins opened #67 "Remove esc_html() from event title display"
Using esc_html() prevents other developers from being able to add HTML to the title through the `the_title` filter.

[2017-02-01 02:39] #67 closed

[2017-02-02 04:41] growdev commented on #21
Here's how the calendar will display in mobile (less than 480px wide) view.

![screen shot 2017-02-01 at 10 35 38 pm](https://cloud.githubusercontent.com/assets/290886/22537362/951e1c4e-e8cf-11e6-97d4-2c7691045284.png)

[2017-02-02 16:49] #10 closed

[2017-02-02 16:49] pippinsplugins commented on #21
I like that display!

Will test today.

[2017-02-02 17:06] growdev commented on #52
Yes, replicated. Here a recurring Dinner (8pm-10pm) is showing before a recurring Breakfast (7am-9am)

![screen shot 2017-02-02 at 11 04 28 am](https://cloud.githubusercontent.com/assets/290886/22559644/64b744e6-e937-11e6-9370-9775a69aaf6f.png)

This is because the routine to calculate and add recurring events to the display isn't sorted by start time like single events.

I'm working this morning

[2017-02-02 18:15] growdev commented on #52
Okay, I have this displaying correctly. Also refactored how the events are pulled together before they are displayed.
![screen shot 2017-02-02 at 12 14 39 pm](https://cloud.githubusercontent.com/assets/290886/22562227/407172fa-e941-11e6-94ed-e2be2af38af9.png)

[2017-02-02 18:42] growdev opened #72 "Clean up code formatting globally"
Refer to @pippinsplugins  changes in #62 and fix formatting in all files.

- [x] Remove tabs from alignment (args list, series of variables)
- [x]  Fix indentation level of code blocks
- [x] Add all PHP Doc blocks
- [x] Properly wrap lines of HTML in PHP files

[2017-02-02 18:47] growdev commented on #52
@pippinsplugins ready for review.

[2017-02-02 20:11] growdev commented on #48
I've opened #72 so I can clean up formatting globally when the release is ready to go.

For the archive view, would the correct approach be to hook into `pre_get_posts` on the archive page and add the recurring events to the results?

[2017-02-03 21:29] growdev commented on #28
I've opened #72 so I can clean up formatting globally when the release is ready to go.

I'm re-stating the tasks for this issue below so I can track if they are complete:

- [ ] Customized output of events in widget
	[] Title
	[] Date
	[] Time
	[] Categories
- [ ] Need an upgrade routine to ensure the behavior of widgets don't change
- [ ] Queries introduced are slow, 2-3 seconds of load time to t

[2017-02-03 21:31] growdev commented on #48
I'm re-stating the tasks for this issue below so I can track if they are complete:

- [ ] Recurring events do not get displayed in the upcoming events widget
- [ ] The widget should show:
	1. All events
	2. Upcoming events
	3. Past events events
- [ ] Show recurring events in archive view

[2017-02-06 17:18] growdev opened #73 "Recurring events can recur indefinitely"
In current version the "recur until" field is not required. This means that an event can recur indefinitely which is a challenge for calculating lists of events.

We need to either 1. require this field so we have a finite list to calculate/work with, or 2. set a limit like "2 years" that will be quietly imposed by the plugin.  I prefer the first option.

@pippinsplugins thoughts?

![recur](https:

[2017-02-06 19:24] growdev commented on #48
I've got the widgets cleaned up.  Added `sc_get_all_events()` which calculates an array keyed off start timestamp for all events. Example:

[code]

[2017-02-06 19:29] growdev commented on #48
@pippinsplugins I still need some feedback on how to affect the archive view.

[2017-02-06 19:44] growdev commented on #28
This will probably need to be reworked after #62 is merged.

[2017-02-13 18:48] pippinsplugins commented on #21
@growdev this is looking great!

While we're at it, let's go ahead and improve some of the spacing in the header:

<img width="371" alt="screen shot 2017-02-13 at 12 47 48 pm" src="https://cloud.githubusercontent.com/assets/1034109/22897801/b200f57e-f1ea-11e6-9c94-5343e9825f13.png">

[2017-02-13 18:48] pippinsplugins commented on #21
I'd like to see the Go button on it's own line and the month header smaller with more space around it

[2017-02-13 19:28] pippinsplugins commented on #52
@growdev this looks good, except it broke the `Recur Until` option. Events are now recurring forever even if an end date is set.

[2017-02-13 19:32] pippinsplugins commented on #48
Yes.

[2017-02-13 19:34] pippinsplugins commented on #73
I vote for option 1 as well. Could we include a checkbox for `Forever` to make the UI simpler for people that do want forever events?

[2017-02-13 19:37] pippinsplugins commented on #52
Related #73

[2017-02-23 22:42] growdev commented on #16
@pippinsplugins most of the functions return a bunch of HTML with nonces inside of the output.

1. Any suggestions for testing HTML returned including nonces?
2. Similar question: have you tested ajax functions that `die()` returning output including nonces?

[2017-02-23 22:55] growdev commented on #21
Those controls are hidden on the mobile view. Did you have the latest code pulled when you took that screen shot?

My view looks more like this:
![mobile](https://cloud.githubusercontent.com/assets/290886/23282892/e70c9ce0-f9e8-11e6-9bf1-ad70ed07c0ea.gif)

[2017-02-23 23:26] growdev commented on #48
@pippinsplugins I'm at a loss on how to use `pre_get_posts` on the archive page.

`pre_get_posts` will modify the query, but we need to get the timestamps out of the post meta and sort it.

This is what is happening in [sc_get_all_events()](https://github.com/pippinsplugins/Sugar-Event-Calendar/blob/issue/48/includes/functions.php#L1503).

Is there a way to say "This is an archive view so use this

[2017-02-24 01:34] pippinsplugins commented on #16
1. Test that some of the HTML is there. Dont' worry about the nonces.

2. Ajax functions are _super_ hard to test. For now, let's skip them.

[2017-02-24 01:36] pippinsplugins commented on #48
I think you'd need to hook into `pre_get_posts`, perform a look up with `sc_get_all_events()`, extract the post IDs, then set `post__in`. Essentially duplicating the queries.

Let's go ahead and punt the archive view so we can get this finished up.

[2017-02-24 01:38] pippinsplugins commented on #21
Working now! Must have been cache.

Merged!

[2017-02-24 01:38] #21 closed

[2017-02-24 01:40] growdev commented on #48
I could hug you, thanks! This was bending my brain.

[2017-02-24 01:40] pippinsplugins commented on #48
:heart:

On Thu, Feb 23, 2017 at 7:40 PM, Daniel Espinoza <notifications@github.com>
wrote:

[2017-02-24 04:51] growdev opened #74 "Show Recurring events in archive view"
The archive view (example https://sugarlocal.com/events/ ) should show recurring events in the list of posts.

from #48:

[2017-02-24 05:05] growdev commented on #48
This is ready to test.  :tada:

You will need to open + save all of your recurring events so that the `sc_all_recurring` meta is added.

For customers this will be handled in the upgrades.php where `sc_update_recurring_events()` will be called.

Here's an upcoming events widget:
![screen shot 2017-02-23 at 11 01 25 pm](https://cloud.githubusercontent.com/assets/290886/23291176/0765335c-fa1c-11e6-8

[2017-02-24 05:43] growdev commented on #52
Recur Until is fixed now.

[2017-02-24 06:13] growdev commented on #28
This is ready to test.

Here are two widgets with the options to show/hide Widget title, Date, Time, and Categories.
Upgrade routine exists.

I'll need to refactor `sc_get_events_list()`  with the version in #62. Should I cherrypick what I need, or wait until that PR is merged?

![screen shot 2017-02-24 at 12 11 20 am](https://cloud.githubusercontent.com/assets/290886/23292523/0b42da9c-fa26-11e6-9

[2017-02-27 21:25] growdev commented on #16
@pippinsplugins Cool thanks!

On this factory, is there too much code on the `event_non_recurring()` ?

https://github.com/pippinsplugins/Sugar-Event-Calendar/pull/56/commits/e56fbd21a69ce68abbf557aa6946900d1394b735

[2017-03-03 16:38] pippinsplugins commented on #16
@growdev I'm not sure what you mean. I don't see `event_non_recurring()` in that commit. Could you clarify?

[2017-03-03 16:41] pippinsplugins commented on #48
@growdev I'd prefer to test this with the full upgrade routine to ensure my tests work the same way that customers' will. Is that ready to go?

[2017-03-03 16:45] pippinsplugins commented on #52
Looks good now!

[2017-03-03 16:45] #52 closed

[2017-03-03 16:46] pippinsplugins commented on #28
Let's get #48 merged then continue here.

[2017-03-03 16:52] growdev commented on #48
@pippinsplugins  Yes, the current `upgrades.php` should handle updating.

[2017-03-03 19:36] growdev commented on #16
@pippinsplugins I mis-typed.  I meant `create_non_recurring()`.  Looking for some feedback on the factory.

[2017-03-03 21:46] growdev commented on #16
.......................................                           39 / 39 (100%)

Time: 3.22 seconds, Memory: 42.25MB

OK (39 tests, 79 assertions)

Tests have been added and are passing.

@pippinsplugins ready for review.

[2017-03-03 22:33] growdev commented on #72
@pippinsplugins I'll finish this up when the other PR's are merged.

Question:  For doc blocks do you prefer

[code]
or aligning over with spaces?
[code]

[2017-03-07 21:55] pippinsplugins commented on #48
@growdev I'm getting a fatal error on the calendar now in `issue/48`:

Fatal error: Uncaught Error: Call to undefined function sc_get_events_for_day() in /Users/pippin/Sites/edd/wp-content/plugins/sugar-calendar/includes/functions.php:93 Stack trace: #0 /Users/pippin/Sites/edd/wp-content/plugins/sugar-calendar/includes/functions.php(184): sc_draw_calendar('3', '2017', 'small', 0) #1 /Users/pippin/

[2017-03-07 21:57] pippinsplugins commented on #16
I'm seeing notices in the tests: https://travis-ci.org/pippinsplugins/Sugar-Event-Calendar/jobs/207516968

[2017-03-07 21:58] pippinsplugins commented on #72
This is looking good. Let's merge this very last, however, so we can be sure we get everything all at once.

[2017-03-09 16:58] growdev commented on #48
@pippinsplugins fixed!  I removed some functions when fixing merge conflicts from #60.

This pr should be working now.

[2017-03-09 18:15] growdev commented on #16
Notices are fixed. WP CLI was used over a year ago to scaffold test, and since then they updated their install script to pull down `tests/phpunit/data/` which includes a symlink that caused the notice since it didn't exist.

Current PHP7 tests are failing due to TravisCI update from last night.

[2017-03-10 16:08] pippinsplugins commented on #16
@growdev could you see this fix that @drewapicture put into AffiliateWP to fix the PHP7 tests? https://github.com/AffiliateWP/AffiliateWP/commit/315e6cdf33cfea21b94838d120aeebe4379deab6

[2017-03-10 16:18] growdev commented on #16
Applied and worked 👍    Thanks @drewapicture!

![screen shot 2017-03-10 at 10 18 16 am](https://cloud.githubusercontent.com/assets/290886/23803068/effe6976-057a-11e7-8aa4-9a28e94ab5a4.png)

[2017-03-10 22:16] growdev commented on #28
@pippinsplugins merge conflicts cleared and ready for review.

[2017-03-13 19:46] pippinsplugins commented on #16
Woot!

[2017-03-13 19:50] pippinsplugins commented on #16
@growdev please see comments on PR.

[2017-03-13 19:52] growdev commented on #16
@pippinsplugins gotcha. I will pull in what I need to finish the factory when #64 is merged.

[2017-03-13 19:52] pippinsplugins commented on #28
@growdev looks like the upgrade routine hasn't been completed yet.

Can you please finish that?

[2017-03-15 03:58] growdev commented on #48
Closing this as #60 was merged.

[2017-03-15 03:58] #48 closed

[2017-03-16 16:28] growdev commented on #28
@pippinsplugins upgrade routine added.

[2017-03-16 20:16] pippinsplugins commented on #28
Looks good!

[2017-03-16 20:16] #28 closed

[2017-03-16 20:30] pippinsplugins commented on #72
This is good for now.

[2017-03-16 20:30] #72 closed

[2017-03-16 20:38] pippinsplugins opened #77 "Incorrect version appended to style sheet"
Our CSS files are getting the WP core version applied instead of the plugin version.

We do pass the plugin version to the wp_enqueue_style() call but we have the parameters in the wrong order.

[2017-03-16 21:01] #77 closed

[2017-03-16 22:19] growdev opened #79 "Remove unused functions"
Pretty sure this isn't used anymore.

[2017-03-17 01:07] growdev opened #80 "Multiple events with same start time on day aren't shown."
To recreate:

Create two or more events with same start time and end time.
Run `sc_get_events_for_day()` and only one event is returned.

Example:

Example of three events starting at 8am, 10am, 11am:
[code]

Example of three events all starting at 10am:
[code]

![screen shot 2017-03-16 at 8 09 47 pm](https://cloud.githubusercontent.com/assets/290886/24024860/8dd41dae-0a84-11e7-82de-bb35793132a1.p

[2017-03-17 01:12] growdev opened #81 "Updating a recurring event does not update the saved recurrences"
To recreate:

1. Add a recurring event (weekly, recur until +3 months)
2. Save post
3. Check contents of meta `sc_all_recurring`
4. Edit post and change recurring (weekly, recur until +5 months)
5. Check contents of meta `sc_all_recurring`. It hasn't changed.

[2017-03-17 01:51] growdev opened #83 "Calendar month/year/category controls throw warning"
To recreate:

1. Fresh install with a few events
2. Make sure there are no Event Categories
3. From the calendar page, select a different month and press Go
4. Ajax call will be invoked and will show this notice:

[code]

[2017-03-17 14:33] pippinsplugins commented on #83
Good catch!

[2017-03-17 14:33] #83 closed

[2017-03-17 14:34] #81 closed

[2017-03-17 14:34] #80 closed

[2017-03-20 14:57] pippinsplugins commented on #16
@growdev could you address the undefined index in the tests? https://travis-ci.org/pippinsplugins/Sugar-Event-Calendar/jobs/211972267

Once that's done, we can merge and deploy!

[2017-03-20 18:37] #16 closed

[2017-03-21 22:00] growdev opened #86 "Show recurring events in admin area"
Possibly show recurring event data in the Events list.

Original request: "would be awesome to see recurring event data in the admin area and set ordering based on when the event is. currently you can’t really tell when a recurring event is going to happen in the admin, you can only see in frontend."

![slack-imgs](https://cloud.githubusercontent.com/assets/290886/24172826/b3edefa2-0e57-11e7-92e6-

[2017-03-21 22:03] pippinsplugins commented on #86
How about we add a `Recurs` column?

[2017-03-21 22:14] growdev commented on #86
Customer:  "Yes, that'll work. "

[2017-03-21 22:39] pippinsplugins commented on #86
👍
On Tue, Mar 21, 2017 at 5:14 PM Daniel Espinoza <notifications@github.com>
wrote:

[2017-03-22 21:02] pippinsplugins opened #87 "Fatal error on PHP 5.3 and earlier"
In sc_order_events_by_time() we're using array shorthand, which wasn't introduced until PHP 5.4

[2017-03-22 21:02] #87 closed

[2017-03-27 20:12] pippinsplugins opened #88 "Event titles cannot have custom HTML"
Titles are using `esc_html()` so it's not possible to wrap events in custom HTML through plugins that filter on `the_title`.

[2017-03-27 20:12] pippinsplugins commented on #88
Previously addressed in https://github.com/pippinsplugins/Sugar-Event-Calendar/issues/67 but we didn't get them all.

[2017-03-27 20:12] #88 closed

[2017-03-28 02:43] growdev commented on #88
@pippinsplugins was this found via a ticket, or looking through code?

[2017-03-28 02:49] pippinsplugins commented on #88
Ticket.

On Mon, Mar 27, 2017 at 9:43 PM, Daniel Espinoza <notifications@github.com>
wrote:

[2017-03-30 15:52] growdev opened #89 "Update recurring events display text"
On the single event page for recurring events change date display to be more clear of when recurring event starts:

Date: Starts October 5, 2017 then every Thursday until December 1, 2017

[2017-03-30 15:53] growdev commented on #89
On the single event page for recurring events change date display to be more clear of when recurring event starts:

Date: Starts October 5, 2017 then every Thursday until December 1, 2017

[2017-03-30 16:04] growdev opened #90 "Recurring events "Every first Friday""
Check to see if there is a way (if not add it) to have events like "Every first Friday of the month."

There's an event here in San Antonio that is called "First Friday."

[2017-03-30 16:36] growdev commented on #66
@pippinsplugins  I've removed Tuesday - Saturday as options on this drop down.

Should I add an upgrade routine for anyone who might have been using "Wednesday" as a start of week?

[2017-03-30 16:37] growdev opened #91 "Verify recurring events with no 'recur until' work as expected"
Daniel: Check the output of test script.

Update: It doesn't.  `sc_calculate_recurring()` works while `$until > $current` and if there is no `$until` then only one occurrence (the first occurrence) is recorded.

We need to decide how these are saved and when they would need to be recalculated.

[2017-03-30 16:48] growdev opened #92 "Leap year calculation for yearly recurring events"
This recurring event will show up on June 13th in 2020.

![screen shot 2017-03-30 at 11 45 15 am](https://cloud.githubusercontent.com/assets/290886/24515969/c8d1660e-153e-11e7-9545-508cabf2b04a.png)

ref: https://secure.helpscout.net/conversation/341103036/56306/

[2017-04-05 02:12] pippinsplugins commented on #89
Looks great!

[2017-04-05 02:12] #89 closed

[2017-04-05 02:12] pippinsplugins commented on #66
Yes, let's go ahead and add an upgrade routine for this.

[2017-04-05 02:34] #79 closed

[2017-04-07 16:08] growdev opened #96 "Add start month for calendar widget"
Currently the sidebar widget defaults to the current month.

Site admins might want to show a future or past month by default.

Add "Start Month" setting for Event Calendar widget.

![screen shot 2017-04-07 at 11 06 19 am](https://cloud.githubusercontent.com/assets/290886/24808659/44f084d8-1b82-11e7-9078-fd691478424e.png)

ref: https://secure.helpscout.net/conversation/346458442/57029/?folderId=87

[2017-04-12 22:06] growdev commented on #92
Issue is here: https://github.com/pippinsplugins/Sugar-Event-Calendar/blob/master/includes/functions.php#L1061

The plugin saves meta for `sc_event_day_of_year` and `sc_event_end_day_of_year`  which is the numeric day of year. Leap years have 366 days not 365.  This will be off-by-one for Leap years.

[2017-04-13 20:43] pippinsplugins commented on #92
Looks good, go ahead and merge and then submit a new PR with a version bump. I'll deploy after that.

[2017-04-13 20:44] pippinsplugins commented on #96
:+1:

[2017-04-17 20:10] #92 closed

[2017-04-17 20:12] pippinsplugins commented on #92
Version 1.6.4 has been released.

[2017-04-21 17:59] m-e-h opened #99 "timing issue when adding widgets in the Customizer"
When adding any SC widget from the Customizer, the initial values aren't registering.
I get `Notice: Undefined index: title in /var/www/html/wp-content/plugins/sugar-calendar/includes/widgets.php on line 31` until any of the options are edited or a title is added. If saved without editing, error is still present on the front-end.

Another example is shown in the attached image.
Even though initial

[2017-06-14 20:58] growdev opened #100 "Add option to show event start time on calendar page."
Customer asks: Can the start time show on the Monthly calendar?

ref: https://secure.helpscout.net/conversation/379726259/60884/?folderId=875342

[2017-06-14 21:00] growdev opened #101 "Move CSS class from day level to the event link"
Currently on the calendar view for a single day all of the categories for each event are combined and added to the TD for the day.

It would be easier to color code and style events if the categories were added as a class of the event link.

ref: https://secure.helpscout.net/conversation/379726259/60884/?folderId=875342

[2017-06-14 21:33] growdev opened #102 "Shortcode category isn't being used"
Category parameter sent from the shortcode is not being used here:
https://github.com/pippinsplugins/Sugar-Event-Calendar/blob/master/includes/calendar.php#L33

ref: https://secure.helpscout.net/conversation/381327113/61097/?folderId=875342
ref: https://secure.helpscout.net/conversation/381327113/61097/?folderId=875342

[2017-06-23 22:32] growdev opened #103 "Event archive query missing recurring events"
Adding an `event-display` query var like this:
http://sugarlocal.com/events/?event-display=upcoming

will show a list of events without recurring events.

[2017-07-10 16:26] pippinsplugins commented on #103
@growdev could you work on a PR for this?

[2017-07-10 16:45] timbowen commented on #103
We handled this by writing a custom query looking at event date OR recurring until date . This doesn't handle correct ordering with recurring events though:

[code]

[2017-07-14 02:20] growdev opened #104 "Provide a filter to format the output of recurring events"
On the event page recurring event dates are displayed by `sc_show_single_recurring_date()`. This function needs a filter so developers can modify the output of the date.

ref: https://secure.helpscout.net/conversation/396424476/62858/?folderId=875342

[2017-07-26 17:00] growdev opened #105 "Add Shortcode to display events"
Add a shortcode that can be used to display events. This would work something like:

[sc_events_list type='upcoming' number='5' category='meeting']

This would display a list of the 5 next upcoming events from the 'meeting' category.

ref: https://secure.helpscout.net/conversation/359060999/58543/?folderId=875342

[2017-07-26 19:21] growdev commented on #99
@m-e-h thanks for the report. Found the issue and fixed in next version (1.6.5)

[2017-07-26 21:45] growdev commented on #103
@timbowen thanks for the sample code

@pippinsplugins right now the plugin is using `pre_get_posts` to modify the archive, but to properly get a list of upcoming events 2-3 queries are required to pull in all the recurring events. Is there a different method to alter the archive?

[2017-07-27 21:48] growdev opened #106 "Add iCal and Google Calendar compatible feed"
The current events feed is not compatible with iCal and Google Calendar

Current feed
`https://sugarlocal.com/feed/?post_type=sc_event`

[2017-07-31 20:03] pippinsplugins commented on #105
We've had numerous requests for this so yes please!

[2017-07-31 20:05] pippinsplugins commented on #105
@growdev need a couple of minor changes on the PR please.

[2017-07-31 20:05] pippinsplugins commented on #103
No other method that I"m aware of beyond building a completely custom archive.

[2017-07-31 20:36] pippinsplugins commented on #100
Seems like a good option.

[2017-07-31 20:37] #102 closed

[2017-07-31 20:43] pippinsplugins commented on #104
@growdev could you please open a PR?

[2017-08-01 18:55] ianjohn27 commented on #103
`/**
 * Given a list of sugar calendar post objects, normalize by sorting by first valid timestamp
 * This gets recurring events in the right place -- with their soonest iteration in the proper spot in the list.
 * @param  [type] $eventList [description]
 * @return array of post objects
 */
function ph_reorder_sugar_events($eventList) {
    $time = current_time( 'timestamp' );
    $time_now = mkti

[2017-08-01 18:57] ianjohn27 commented on #103
This is a function we're using to properly sort the recurring events. It is used in conjunction with @timbowen code above. It merges the first instance of the recurring event into the appropriate place in the list.

[code]

[2017-08-09 16:35] growdev opened #112 "Add settings link to the plugin page"
![screen shot 2017-08-09 at 11 34 39 am](https://user-images.githubusercontent.com/290886/29132732-c4965a84-7cf6-11e7-8053-a9c3d86f4fd1.png)

[2017-08-25 20:24] #105 closed

[2017-08-25 20:25] #104 closed

[2017-08-25 20:26] #101 closed

[2017-08-25 20:27] #99 closed

[2017-08-29 15:28] growdev opened #113 "Make plugin name consistent"
This page uses singular event: "Sugar Event Calendar"
https://pippinsplugins.com/products/sugar-event-calendar/

The plugin name uses plural event:  "Sugar Events Calendar"
![screen shot 2017-08-29 at 10 26 57 am](https://user-images.githubusercontent.com/290886/29829279-980826ec-8ca4-11e7-9f85-fb37ed3171d9.png)

@pippinsplugins which do you prefer?  I think singular "Event".

[2017-09-05 20:04] growdev opened #114 "2 Week and 1 Week calendars do not show correct date"
2 Week and 1 Week calendars do not show correct date when the start date is set to "Monday".

<img width="1034" alt="screen shot 2017-09-05 at 3 04 04 pm" src="https://user-images.githubusercontent.com/290886/30081099-7ef913e4-924b-11e7-98b6-0c9722736a22.png">

ref: https://secure.helpscout.net/conversation/425960648/66083/?folderId=875342

[2017-09-11 17:54] m-e-h opened #115 "Option to display thumbnails in event lists"
Any plans to add a thumbnail option, maybe to the `show` parameter in `sc_get_events_list()`?

The post-type supports thumbnails. Might be nice to display them in the events_list shortcodes and widgets.

[2017-09-21 16:27] pippinsplugins commented on #115
I don't see any reason we cannot add support for thumbnails.

[2017-09-26 14:44] pippinsplugins commented on #103
Pretty simple PR submitted that fixes it.

[2017-12-18 21:52] JJJ commented on #113
Going with "Sugar Calendar" in as many public places as possible.

One caveat is the WordPress.org plugin slug, which is literally `sugar-event-calendar`. I'm not sure we can change plugin slugs, basically ever... but if we wanted to work around it, we could keep a copy of the plugin also at `sugar-calendar` and migrate users to the new location.

----

The plan (as of today) is to slowly and meth

[2017-12-18 21:52] #113 closed

[2017-12-18 21:54] JJJ commented on #114
Fixed in `release/2.0`.

[2017-12-18 21:54] #114 closed

[2017-12-18 22:01] JJJ commented on #112
In `release/2.0` these settings were switched to using the WordPress core settings, and there is no dedicated Sugar Calendar settings page.

There will be a need for license key entry, and I can imagine a need for other more complex settings pages to exist, but I'd like to tackle those in a different issue.

Closing this one under the 2.0 milestone since that's where it's most applicable going for

[2017-12-18 22:01] #112 closed

[2017-12-18 22:05] JJJ commented on #100
In the `release/2.0` branch, we do this in `wp-admin` and that will carry over to how we draw calendars theme-side also, but those implementation details are TBD and probably need their own issues once they're farther along.

So, the functionality now exists, it just needs to go back in with widgets and shortcode support.

[2017-12-18 22:26] JJJ commented on #90
Simple recurrence (like above) will be part of `release/2.0`.

[2017-12-18 22:26] #90 closed

[2017-12-18 22:29] JJJ commented on #103
This is going to be handled quite a bit differently in `release/2.0`, so will need revisiting.

[2017-12-18 22:30] JJJ commented on #91
Recurring event saving/querying is done via the custom `wp_events` database table in `release/2.0`.

[2017-12-18 22:30] #91 closed

[2017-12-18 22:31] JJJ commented on #66
`release/2.0` works for all days, obeying the `start_of_week` option from WordPress core.

[2017-12-18 22:31] #66 closed

[2017-12-18 22:32] JJJ commented on #86
`release/2.0` has a Recurring column in the list table, and all calendar views include both all-day, multi-day, and recurring events.

[2017-12-18 22:32] #86 closed

[2017-12-18 22:34] JJJ commented on #50
See #90 for the other side of this coin.

[2017-12-18 22:44] JJJ commented on #73
`release/2.0` has some work to do around this also, so moving this there.

[2018-03-06 23:33] pippinsplugins opened #117 "Click in date square to create event"
It would be awesome to be able to click into an event square in order to create an event, just like Google Calendar and others work.

[2018-03-13 14:17] pippinsplugins opened #118 "Update updater and licensing for new URL"
Sugar Calendar is being moved to sugarcalendar.com. The plugin updater needs to be brought up to date accordingly.

[2018-03-13 14:21] #118 closed

[2018-03-14 07:34] SDavisMedia opened #119 "Restructure settings and integrations"
A full restructure may not be a popular idea, but I think the settings need a slight enhancement at a minimum. I'll explain.

I'm a brand new user of Sugar Event Calendar and I rarely use Restrict Content Pro. On a new test site, I started to set them both up from scratch. In the Events menu, I saw a **Restrict Access** submenu. I went there and I actually felt lost. I know enough about RCP to _as

[2018-03-14 12:45] JJJ commented on #119
Sugar Calendar 2.0 basically abolishes the settings page, because these settings already exist in WordPress, or can be derived from the locale of the site.

I also could not think of newer, equally important settings to add here.

All of that said, the EDD approach of having everything live under one top level admin menu is really popular, but also isn’t future proof. It’s akin to an iOS app havin

[2018-03-22 14:54] pippinsplugins opened #120 "Add timezone support to events"
A potential customer has requested that we include support for setting timezones on an event-specific basis.

I really like this idea as it would allow for a site to publish events from multiple timezones.

In terms of implementation, I think events should always default to the site's timezone but then support a custom timezone to be set on the event.

[2018-03-22 15:59] JJJ commented on #120
I was just thinking about this! Most calendar software handles the UI for this pretty poorly, especially for traveling between time zones, which is really the only reason to support it.

Apple Calendar, specifically, does a very-not-good job of handling the offset of where something is put in vs. where the event is happening, and determining the difference, which is probably what the advanced vers

[2018-03-22 21:50] pippinsplugins commented on #120
I agree.

[2018-03-22 22:59] afragen commented on #120
Don’t forget about DST, it’ll bite. 😉

[2018-03-23 17:05] gspice opened #121 "Request to embed WPForms"
From this ticket:
https://secure.helpscout.net/conversation/547082695/78907?folderId=1909447

Also entered in Trello

[2018-03-23 20:27] gspice opened #122 "If Start of Week is Monday - Week and Two week calendars show wrong day of the week"
From HS ticket:
https://secure.helpscout.net/conversation/425960648/66083?folderId=1909447

Re-tested with:  1.6.6

**To recreate:**
* Go to Events > Settings - set `Start of Week` to `Monday` (works correct if set to default of `Sunday`)
* Create a new page using shortcodes `[sc_events_calendar type="week"]` or `[sc_events_calendar type="2week"]` and you'll notice the day of the week is ahead of

[2018-03-23 21:15] gspice opened #123 "Website - account page - license key input not wide enough"
Before:

![license-key-input-before](https://user-images.githubusercontent.com/3018245/37853574-8b621b12-2ea4-11e8-9b4a-523204ed9f6d.png)

Added CSS in the Customizer - Additional CSS area to fix, used similar styling to affwp site:

![license-key-input-after](https://user-images.githubusercontent.com/3018245/37853595-9ec942f2-2ea4-11e8-8120-fcd4a6658795.png)

[2018-03-26 01:05] pippinsplugins opened #124 "Add class to calendar cells that contain events"
It would be really nice to have a CSS class on calendar cells for the cells that have events in them. That would allow someone to target just the calendar days that are not empty.

Here's one customer that would like this: https://secure.helpscout.net/conversation/546194085/78769?folderId=1909453

[2018-03-26 02:38] JJJ commented on #124
I _think_ I’ve done this for 2.0, but I’ll confirm.

[2018-03-26 18:23] gspice commented on #122
Oops, looks like this was fixed on #114 ?

[2018-03-27 13:48] pippinsplugins commented on #122
Yep!

[2018-03-27 13:48] #122 closed

[2018-03-27 16:00] JJJ commented on #120
Confirmed that both the event object & database table have support this. (I remembered adding it, but I wasn't certain when or where.)

My comment above is still accurate; whatever our UI is for this, it should be better than what's out there today.

----

Apple Calendar has time zone support off by default:

<img width="649" alt="screen shot 2018-03-27 at 10 32 19 am" src="https://user-images.git

[2018-03-27 16:43] JJJ commented on #120
WordPress has the `wp_timezone_choice()` function to build the `select` element. It conveniently splits timezones up into `optgroup`'s, so we should definitely use this. (I don't see us outgrowing it anytime soon.)

This is where Select2 (or Chosen, etc...) really shine, making it searchable by default.

[2018-03-27 21:39] gspice opened #125 "Option to hide license key on settings screen"
From this HS ticket:
https://secure.helpscout.net/conversation/549035450/79143?folderId=1909452

She purchased the Ultimate license, so it sounds like she is trying to prevent clients from copying and re-using the license key in other sites.

[2018-04-04 19:48] gspice opened #126 "Sort order for events archive page incorrect based on filter used"
Using the `/events` archive page, the events are out of order when I display for all dates.  If I specify `past` or `upcoming`, then the events display order is correct based on the sort used `asc` or `desc` .

Data tested with:
I have events for these dates **not** entered in chronological order when I manually entered them while converting an old WP site to a new design/theme:

November 14, 2017

[2018-04-04 19:58] gspice opened #127 "Add sort option to the Event List widget"
Would be great to have an order option on the Event List widget.  Currently it changes the sort order on it's own if you specify `Upcoming`, `Past` or `All`, but you should have the option to set the sort to `asc` or `desc` regardless of which view is selected.

[2018-05-07 15:00] gspice commented on #12
User request:
https://secure.helpscout.net/conversation/574636267/81623?folderId=1909452

[2018-06-28 19:02] gspice opened #128 "Multisite: add the ability to enter license key one time to share across subsites"
Originally requested on this HS ticket:
https://secure.helpscout.net/conversation/609231256/84955/?folderId=1909452

[2018-08-21 21:43] gspice opened #129 "Event archive shows dates twice if posts set to experpt"
If your WP Settings > Reading settings are set to Summary (or Excerpt in Genesis), when you browse the /events archive it will show the dates twice.

<img width="854" alt="events-archive-dates-doubled" src="https://user-images.githubusercontent.com/3018245/44430745-80b34880-a550-11e8-890e-5484725d35f8.png">

[2018-08-22 14:29] pippinsplugins commented on #129
@gspice I'm not able to replicate this.
<img width="1007" alt="screen shot 2018-08-22 at 9 29 10 am" src="https://user-images.githubusercontent.com/1034109/44469788-dee23900-a5ed-11e8-9116-72a4dbe64af7.png">

Is it all themes for you?

[2018-08-28 22:10] gspice opened #130 "Dutch translation strings requested in default.po file"
Reported from HS ticket:
https://secure.helpscout.net/conversation/647066685/88460?folderId=1909468

[2018-08-29 00:31] gspice commented on #129
@pippinsplugins  Not all themes it seems.  I'm trying to find what they have in common.  On this HS ticket that reported the problem, she is not on a Genesis theme.  There is an admin login if perhaps you can view her settings and/or archive.php page for her theme:

https://secure.helpscout.net/conversation/642362968/88079?folderId=1909468

[2018-09-25 21:27] pippinsplugins opened #131 "Warning: Invalid argument supplied for foreach() in Events Widget when events are not recurring"
If you have events that are coming up but are not recurring, a PHP notice can be triggered:

Warning: Invalid argument supplied for foreach() in /var/sites/s/public_html/management/wp-content/plugins/sugar-calendar/includes/functions.php on line 1357

This happens because the foreach runs even if the return from `get_post_meta()` is empty.

[2018-09-25 21:28] #131 closed

[2018-11-06 17:49] JJJ commented on #124
Classes are `empty` and `not-empty` respectfully.

Also added are `count-%` where `%` is the literal number of items in the table cell.

I kept these "type agnostic" so the word "event" was purposely omitted from class names, for future calendar reuse in ways that are not event specific.

Marking as fixed, for `release/2.0`.

[2018-11-06 17:49] #124 closed

[2018-11-06 19:45] JJJ opened #132 "Connect Taxonomies to Calendar Views"
Since moving to custom tables, and while reducing some dependency on Posts, support for taxonomy queries (specifically, filtering calendar views by them) has broken a bit.

This is because the term-relationship is still with the `event:object_id` and not with `event:id`.

I think we should assume that, by default, all taxonomy-term connections are to the event ID, and not related to the related ob

[2018-11-06 19:54] JJJ opened #133 "Port theme compatibility (likely from bbPress)"
Events need theme compatibility.

bbPress is the most likely candidate, because it integrates directly with shortcodes, widgets, and any custom rewrite rules we may end up with later.

The overly simplistic process here is:

1. Port the code from bbPress
1. Rename everything to fit our Sugar Calendar naming
1. Ensure things like widgets and shortcodes work OK
1. Ensure similar-enough back-compat e

[2018-11-06 19:58] JJJ opened #134 "2.0: Reduce post-type dependencies"
Both Sugar Calendar 1.x and WP Event Calendar use a custom post type to store their event data. That's fine until it isn't, so we've opted for a hybrid approach in 2.0, where event boundaries are stored in a more performant relationship table.

As I've been disconnecting things, more and more small snags come up, like:

* Taxonomies
* Capabilities
* Meta-data queries
* Theme Compatibility

A bunch

[2018-11-06 20:01] JJJ opened #135 "Gutenberg support"
Porting our mega-meta-box to Gutenberg would be a nice touch.

This could just be an inspector-sidebar panel-thing, or something fancier.

[2018-11-06 20:03] JJJ opened #136 "Rename top-level admin menu, and related"
We are still using the "Events" top-level menu name, and it's still tied to the `event` custom post type.

We had discussed renaming this to "Calendar" and prioritizing it more towards the top. I still think this is a good idea to do, but it does go a bit against the "collections" approach of how those items are traditionally named (with the exception of "Dashboard".)

[2018-11-06 20:03] JJJ commented on #136
<img width="160" alt="screen shot 2018-11-06 at 2 03 46 pm" src="https://user-images.githubusercontent.com/88951/48090517-c933e700-e1cc-11e8-8488-088913cad035.png">

[2018-11-06 20:06] JJJ opened #137 "Tabulate admin-area headers"
Much like we've done in EDD3, I'd like to tabulate the Events and Calendars headers to remove some sub-menu confusion around the fact that "Calendars" are taxonomies. I know @pippinsplugins isn't a _huge_ fan of using taxonomies for this, but I'm holding strong for now. :)

Generally, I want to port some of the design decisions that went into EDD3 into SC right away, to help us have cohesive brand

[2018-11-06 20:10] JJJ commented on #137
Something like:

<img width="1120" alt="screen shot 2018-11-06 at 2 10 04 pm" src="https://user-images.githubusercontent.com/88951/48090870-ab1ab680-e1cd-11e8-8be8-4e57582bd3b3.png">

[2018-11-06 20:35] spencerfinnell commented on #135
The date/time popover in Gutenberg would definitely allow for a simpler UI since it hides the input fields and just displays a string by default: https://cloudup.com/cRCbSo858Go

[2018-11-19 01:47] JJJ commented on #136
Renamed and reprioritized.

More will happen related to this as part of #134.

[2018-11-19 01:47] #136 closed

[2018-11-19 01:47] JJJ commented on #137
Done. More will happen here as part of #134.

[2018-11-19 01:47] #137 closed

[2018-11-19 01:51] JJJ commented on #120
Time zones were added to the database schema, including most recently the recurrence-end column, which was accidentally overlooked.

<img width="581" alt="screen shot 2018-11-18 at 7 50 04 pm" src="https://user-images.githubusercontent.com/88951/48681928-2b94cc00-eb6b-11e8-9966-8c169f9e3e63.png">

[2018-11-19 17:31] JJJ opened #142 "2.0: Backwards Compatibility Testing"
Before 2.0 can be released, a thorough round of back-compat testing needs to be performed. I'll include some basic components that should be checked as completed only once we are satisfied with the results.

- [x] Post types
- [x] Taxonomies
- [x] Shortcodes
- [x] Widgets
- [x] Feeds
- [x] Function names & calls

Please comment here with the results of testing, bugs, issues, and so on.

[2018-11-19 17:55] JJJ opened #143 "2.0: Less ambitious port of 1.x shortcodes and widgets"
For 2.0 beta, we've discussed internally not having full theme-compatibility, and instead scaling this back to simply supporting existing shortcodes and widgets.

The process, as I see it, to complete this, would be:

- [x] Copy old widget/shortcode code from `master` to a new PR branch
- [x] Rearrange functions and classes to fit updated file structure
- [x] Adjust hook order and priority as need

[2018-11-19 23:52] JJJ commented on #142
Merged progress from #144. This is necessary because the post type and taxonomy changed throughout the branch, back to support data from 1.x. New branches from `release/2.0` should include these changes, to avoid the rework.

[2018-11-20 14:11] pippinsplugins opened #146 "2.0: All event URLs show home page"
All of the event pages show the home page instead of the requested event page.

This includes:
- single event pages
- event post type archive
- calendar taxonomy term archives

[2018-11-20 14:19] JJJ commented on #146
The post type and taxonomy are still private.

Related to #142 and #134.

[2018-11-20 14:27] pippinsplugins opened #147 "2.0: Gray background width is wrong"
![image](https://user-images.githubusercontent.com/1034109/48779780-05237d80-ec9e-11e8-9e86-fa401964945c.png)

The gray behind the `Repeat` and `End Repeat` looks clearly wrong. Not sure if the intention was for it to be the width of the labels or less.

[2018-11-20 14:31] JJJ commented on #147
I think the tab body must be missing a background color.

Do EDD3 reports & customers have the same issue?

[2018-11-20 14:31] pippinsplugins opened #148 "2.0: Add upgrade routine to migrate data"
We need to build an upgrade routine that migrates the post meta data into our new tables.

[2018-11-20 14:44] pippinsplugins opened #149 "2.0: Sugar_Calendar class still has EDD left overs"
The `Sugar_Calendar` still has a lot of left over items from EDD.

[2018-11-20 15:02] pippinsplugins commented on #148
WIP PR submitted that introduces a stepped upgrade system.

[2018-11-20 15:04] pippinsplugins commented on #147
No, EDD 3.0 reports show properly for me.

[2018-11-20 15:04] pippinsplugins commented on #147
Ubuntu 18.04 with Chrome.

[2018-11-20 15:31] JJJ commented on #148
2 things with this approach:

* No nonces
* These option keys end up triggering 2 database queries, ending up as notoptions cache misses on every admin area request

In a pinch, I think this is fine enough and users won’t notice.

In the long term, we will need to mitigate the uncached options.

[2018-11-20 15:40] pippinsplugins commented on #148
Just an initial first pass. Not finished :)

[2018-11-30 17:32] #147 closed

[2018-12-09 01:29] gspice opened #151 "Annual recurring events not appearing on monthly calendar on some dates"
First reported on this HS ticket:
https://secure.helpscout.net/conversation/722623828/95921?folderId=1909468

With this comment on the ticket:
[code]

I tested the annual recurring date of `10/03/2019` and it doesn't appear on the next year's monthly view in October with these settings below.  I don't know it works on some dates and not others:

<img width="674" alt="screen shot 2018-12-08 at 19 3

[2018-12-29 19:33] JJJ commented on #146
Made these public. For testing purposes, permalink settings will need to be visited and saved to refresh them after updating.

[2018-12-29 19:33] #146 closed

[2018-12-29 19:34] JJJ commented on #151
This is being addressed in Sugar Calendar 2.0, and will not be fixed in the 1.x version.

[2018-12-29 19:36] JJJ commented on #132
The way WordPress handles term-relationships queries is still functional, and lacks filters to make this extensible via our Events query.

I have this working, using a custom, filtered, hack to the database query. It might be the only way to do it for 2.0, which I think is fine.

[2019-01-02 09:21] JJJ opened #153 "2.0: Replace Posts_List_Table with Events"
The `list` view currently relies on the `WP_Posts_List_Table` class, which has a few flaws:

* It automatically pulls from `wp_posts` instead of `wp_sc_events`
* It does not provide us a way to list events by a date range; only paginate them
* It shows events for the events post-type only (see #134 for other concerns)
* It's the only UI that includes bulk actions, which _might_ be nice later, but

[2019-01-02 09:37] JJJ opened #155 "2.0: Add recurring items to list-table views"
The main query arguments only check for events in the current view, not for events outside of the view that might happen to repeat inside it.

For example, an all-day event on March 18, 2018, that repeats every year, does not currently show up on March 18, 2019.

This is because the `Sugar_Calendar_Base_List_Table` class does not gather recurring items for drawing in the related list table boundar

[2019-01-02 09:42] JJJ commented on #151
Closing in favor of #155. Thanks @gspice for the nudge though. 💚

[2019-01-02 09:42] #151 closed

[2019-01-02 09:45] JJJ commented on #133
Worth considering whether we go all-in on theme-compat and provide default template parts for events, or #135 and provide a way to insert Event data into any post or page.

I think we bump this to 2.1 and discuss it more?

[2019-01-02 09:46] JJJ commented on #132
Related to #153.

[2019-01-02 14:34] pippinsplugins commented on #133
Let's bump to 2.1.

2.0 can use the 1.x templating (standard post types)  for now.

[2019-01-02 14:36] pippinsplugins commented on #153
I agree on replacing it with our own. We've done that quite a few times in our various plugins when the list table isn't flexible enough.

Are you also suggesting moving the event data out of wp_posts and into a custom table?

[2019-01-08 18:43] JJJ opened #157 "2.0: Add range to Events list table"
Now that #153 is merged, there is a need to add a more intelligent range picker to that list table. It's currently based on the `Month` range, which is likely not ideal when choosing to view events as a list.

<img width="1054" alt="screen shot 2019-01-08 at 12 42 32 pm" src="https://user-images.githubusercontent.com/88951/50851602-e444e380-1342-11e9-8bd0-1e06becab13c.png">

We could add a `select

[2019-01-09 20:59] pippinsplugins commented on #157
I would prefer a date picker range. It's just a lot more intuitive to use.

[2019-01-09 21:39] JJJ commented on #157
I can pull that from EDD3. 👍

[2019-01-11 21:06] JJJ opened #158 "2.0: Add screen options for Calendar pages"
The screen options were put in place before the List was used, when the `per_page` default could be used by proxy via the post type.

The actions are setup to support custom screen options, but there are no working options available yet. I think we should to add a regular `per_page` type option, plus maybe some Settings overrides, so the "Screen Options" tab isn't missing entirely for 2.0.

Relate

[2019-01-11 21:07] JJJ commented on #158
<img width="972" alt="screen shot 2019-01-11 at 3 07 31 pm" src="https://user-images.githubusercontent.com/88951/51059677-a0581580-15b2-11e9-9807-e4f7c12423ad.png">

[2019-01-11 21:10] pippinsplugins commented on #158
Does `per_page` mean anything in the calendar view? It makes sense in the list view for sure.

[2019-01-11 22:15] JJJ commented on #158
In short, no - not anymore.

I _was_ using it to limit the number of events that would appear in any given table cell (to avoid inconsistent cell sizes across rows) but the obvious problem there is missing events from artificially limiting the results. I've gotten around that now with some CSS max-height and overflow trickery.

----

The screen options API is... interesting.

For our purposes here

[2019-01-11 23:05] JJJ commented on #157
PR updated to do all events for the current year. That helped to turn the boundaries into variables.

Plan to port the date range picker from EDD3 next.

[2019-01-11 23:07] JJJ commented on #153
This is _basically_ done. More work is happening via #157 and #158..

[2019-01-11 23:07] #153 closed

[2019-01-13 14:57] pippinsplugins commented on #158
Sounds good to me.

[2019-01-15 20:06] gspice opened #162 "French translations requesting to be added"
Sent in on this HS ticket:
https://secure.helpscout.net/conversation/754635589/98544?folderId=1909447

mo and po files attached to the ticket:

[Attachments.zip](https://github.com/sugarcalendar/sugar-event-calendar/files/2761242/Attachments.zip)

[2019-01-22 04:48] JJJ commented on #143
PR merged, so I'm closing this in favor of smaller bug fixes as they are discovered.

[2019-01-22 04:48] #143 closed

[2019-01-22 09:16] JJJ commented on #148
Merged into `release/2.0`. Ready to test.

Known todos during beta:
- [ ] Map old recurring post meta to new columns
- [ ] Map old exact all-day events to new `all_day` column
- [ ] Old post meta removal on successful upgrade

[2019-01-22 09:18] JJJ commented on #134
I think I've done as much as I can for 2.0. If we decide to go further, we can open new issues for those architectural changes.

[2019-01-22 09:18] #134 closed

[2019-01-22 09:31] JJJ commented on #142
I've tested everything listed here as best as possible myself.

Closing this in favor of new issues for individual bugs and things that specifically need doing.

[2019-01-22 09:31] #142 closed

[2019-01-22 09:35] JJJ commented on #74
The CPT approach here has gone stale (custom tables will make this easier.)

Let's close this out in favor of #155 and others.

[2019-01-22 09:35] #74 closed

[2019-01-22 09:38] JJJ commented on #73
Indefinitely recurring events will not be an issue in 2.0 and beyond. The meta-box UI is working. TBD is where and how exactly to reveal this info (some is done where it already had made sense.)

[2019-01-22 09:38] #73 closed

[2019-01-22 09:41] JJJ commented on #100
This will get tackled as part of #158.

Also, we generally are including more accurate descriptors from my old WP Event Calendar plugin.

Closing this out in favor of that WIP.

[2019-01-22 09:41] #100 closed

[2019-01-22 09:43] JJJ commented on #117
This just needs a modal. I'd love to use the Gutenberg one and use this as an excuse to bump up the minimum WordPress version to 5.0 :)

[2019-01-22 10:01] JJJ commented on #157
Still planning this for 2.0, but not ready for WIP yet.

[2019-01-22 17:47] JJJ commented on #119
Merged into `release/2.0`.

Since there is only 1 screen/section/subsection right now, it's pretty sparse, but the foundation is in.

Closing, and let's make new issues for individual bugs as they crop up.

[2019-01-22 17:47] #119 closed

[2019-01-22 17:49] JJJ commented on #106
Milestoning for 2.1 (or beyond.)

This could even be an add-on, since not all Events listings are calendar feeds.

[2019-01-22 17:54] JJJ commented on #125
Related to #128.

[2019-01-22 17:58] JJJ commented on #55
All of these are more easily achieved beyond 2.0, thanks to the multitude of enhancements and upgrades that in provides.

Many of these make sense as potential add-ons. External linking, Enhanced maps, Schedule blocks, etc... so I'm closing this 1 issue, labelling it, and we can revisit any these independently in the future.

[2019-01-22 17:58] #55 closed

[2019-01-22 18:04] JJJ commented on #50
IIRC we are including "simple" recurring by default, and making "advanced" recurring an add-on.

Closing in favor of making this an add-on (with its own repo) later.

[2019-01-22 18:04] #50 closed

[2019-01-22 18:06] JJJ commented on #12
Closing here. Will be an add-on with its own repo later.

[2019-01-22 18:06] #12 closed

[2019-01-22 22:00] pippinsplugins opened #165 "2.0: datepicker styles messed up"
On the event add new screen, the datepickers are messed up for me:

<img width="926" alt="screen shot 2019-01-22 at 3 57 17 pm" src="https://user-images.githubusercontent.com/1034109/51568200-c9a05d80-1e5e-11e9-8207-8ca4c70ed2f8.png">

Two things:

1. Clearly the CSS isn't working quite right
2. Can we please disable the Chrome autofill?

I've tried refreshing CSS but that's not fixing it.

[2019-01-22 22:03] pippinsplugins opened #166 "Post type labels need set"
The post type labels need to be set. Right now `post` is getting shown in admin notices.
<img width="621" alt="screen shot 2019-01-22 at 4 03 20 pm" src="https://user-images.githubusercontent.com/1034109/51568421-4d5a4a00-1e5f-11e9-9d89-2c9246449b5f.png">

[2019-01-23 04:58] JJJ commented on #165
@pippinsplugins can you checkout `issue/165` and confirm fixed? I wasn't able to duplicate _exactly_ what you show off here, but I remembered you reporting something similar in EDD3 originally, so I took a stab at it.

[2019-01-23 04:59] JJJ commented on #165
<img width="656" alt="screen shot 2019-01-22 at 10 59 20 pm" src="https://user-images.githubusercontent.com/88951/51584083-5cf68480-1e99-11e9-8f1d-a2e11cc9b522.png">

[2019-01-23 05:33] JJJ commented on #121
Swapped some labels around.

Going to close this issue here, and we may reopen it and move it into a Project in a dedicated repository when we start building add-ons. 👍

[2019-01-23 05:33] #121 closed

[2019-01-23 05:43] JJJ commented on #115
@pippinsplugins you think in core by default, or with an add-on?

The only reason I ask, is while most calendar applications _do_ allow rich media embedded into events, none that I have researched support a way to give an event a specific unique thumbnail.

We'd need to make some decisions around how far/deep this gets supported, given the block-based future ahead of us, and how Post Types tend to

[2019-01-23 13:57] pippinsplugins commented on #165
Styles look good now but I'm still seeing auto complete in Chrome:
![image](https://user-images.githubusercontent.com/1034109/51611321-94d6e980-1ee4-11e9-9dc7-2fc239b2f25b.png)

[2019-01-23 13:58] pippinsplugins commented on #165
Nvm, ignore that, wrong branch :D

Looks good, merging.

[2019-01-23 13:58] #165 closed

[2019-01-23 13:59] pippinsplugins commented on #166
Looks good.

[2019-01-23 14:01] pippinsplugins commented on #115
If we build this, I do think it should be in core, but let's hold of on making a decision until later. We can keep an eye open for additional requests.

[2019-01-23 14:04] douglsmith commented on #55
Just noting that @growdev originally captured these from my feedback on things I was trying to accomplish. I'll see how 2.0 shapes up then create individual issues for consideration for whatever is still relevant.

[2019-01-23 14:57] pippinsplugins opened #169 "2.0: event details missing from single event page"
None of the event details (save for the description) are showing on the single event page:
![image](https://user-images.githubusercontent.com/1034109/51615202-e2575480-1eec-11e9-9d6b-b07f16635cf2.png)
![image](https://user-images.githubusercontent.com/1034109/51615212-e5eadb80-1eec-11e9-885f-53a4cb571318.png)

[2019-01-23 15:07] pippinsplugins opened #170 "2.0 event migration not moving events"
The 2.0 DB migration appears to have not worked for me. Everything ran and acted like it worked but none of the previous events show up in the list table.
![image](https://user-images.githubusercontent.com/1034109/51615717-28f97e80-1eee-11e9-84e8-89b4ef747c40.png)
There should be three events but only one `Test` shows up, which was created post migration.

Interestingly, the legacy events that wer

[2019-01-23 16:34] pippinsplugins opened #171 "2.0: Database not always created during upgrade"
I tested the upgrade routine and it appears that no database was created.

Here's the tables in my site:
<img width="368" alt="screen shot 2019-01-23 at 10 33 24 am" src="https://user-images.githubusercontent.com/1034109/51621586-7845ac00-1efa-11e9-953c-f23fc9ab288b.png">

This explains why none of my event meta is saving on one of my installs.

Related to #170 and #148

[2019-01-23 17:33] JJJ commented on #171
Fixed and merged.

[2019-01-23 17:33] #171 closed

[2019-01-23 17:43] JJJ commented on #170
Confirmed. Fix imminent.

[2019-01-23 18:03] JJJ commented on #170
Fixed and merged.

Some old meta-data still needs to be mapped to the new columns. That'll happen in #148.

[2019-01-23 18:03] #170 closed

[2019-01-23 18:04] JJJ commented on #169
Confirmed. Still using the old post meta functions. Will fix today.

[2019-01-24 18:08] m-e-h commented on #115
To add some context to the original issue, I was needing to display the event thumbnails in an events list.

Obviously, this would mostly be up to the theme for thumbnails on archives and single posts, but I was a little surprised to find that there wasn't an option in the Events List widget nor an attribute for the shortcode to do this.

Wasn't a big deal to use the `sc_before_event_list_item` fi

[2019-01-28 18:57] pippinsplugins commented on #148
I'm getting this error while running a migration:

Warning: date() expects parameter 2 to be integer, string given in /Users/pippin/Sites/edd/wp-content/plugins/sugar-calendar/sugar-event-calendar/includes/admin/upgrades.php on line 274

Also: none of my events are getting moved during the upgrade.

[2019-01-28 19:32] pippinsplugins opened #174 "2.0: event recurrences not showing on calendar"
I have an event that recurs monthly on the 21st. It shows up on the first month fine but is not shown on any other month.

First month:
<img width="1003" alt="screen shot 2019-01-28 at 1 31 24 pm" src="https://user-images.githubusercontent.com/1034109/51861139-11acfd80-2301-11e9-86ca-b1a5200ba98c.png">

Second month:
<img width="972" alt="screen shot 2019-01-28 at 1 31 32 pm" src="https://user-ima

[2019-01-28 19:32] pippinsplugins commented on #174
Note: recurrences do not show in the admin calendar view either.

[2019-01-31 16:01] pippinsplugins opened #175 "2.0: Make calendar mode default"
I think `month` should be the default mode when navigating to the Calendar page.

The calendar view is a much better default view than the list table.

Best:
![image](https://user-images.githubusercontent.com/1034109/52066948-1eb73000-253f-11e9-9170-9e2b29393099.png)

Not best:
![image](https://user-images.githubusercontent.com/1034109/52066962-270f6b00-253f-11e9-944b-977709ffbf25.png)

Even bette

[2019-01-31 20:23] JJJ opened #176 "2.0: Port Chosen from EDD"
This can happen during beta, but it might be nice to port Chosen from EDD3 to the SC drop-downs. It would provide a consistent look & feel, while also giving us some auto-complete boundaries, and make multi-selects look nicer if/when we need them.

[2019-01-31 20:25] JJJ commented on #175
Yeah; I totally agree with this.

(Note to self: the user preferences will need to be loaded early enough to append the user-default override mode in the submenu URL. We want to avoid doing tricky redirects here, because it will be impossible to tell the difference between a default-redirect, or a modeless URL.)

[2019-01-31 20:31] JJJ commented on #155
I have pieces of this working in a local branch. It's just a second database query and merging the results before they are looped through in the grid. I'd hoped to get this down to 1 query, but I'm not sure that's either possible or ideal anyways.

[2019-01-31 20:38] JJJ opened #177 "2.0: redirect away from `edit.php?post_type=sc_event` admin page"
It is still possible to manually navigate to the old Event Post Type URL in WordPress Admin.

Even though it's non-public, WordPress still allows you to visit it. We need the post-type to remain partially visible, as we are using it's "Add New" UI still, as well as permalinks, statuses, etc...

The fix will be to detect and redirect away from that page when it's requested.

[2019-01-31 21:41] JJJ commented on #175
@pippinsplugins do you want the order to be Month/Week/Day/List?

I think that probably makes the most sense?

[2019-01-31 21:42] pippinsplugins commented on #175
Yes, that's perfect.

On Thu, Jan 31, 2019 at 3:41 PM John James Jacoby <notifications@github.com>
wrote:

[2019-02-01 07:52] JJJ commented on #169
Fixed and merged via #180.

[2019-02-01 07:52] #169 closed

[2019-02-01 09:43] JJJ commented on #132
Fixed and merged.

[2019-02-01 09:43] #132 closed

[2019-02-01 14:09] pippinsplugins opened #182 "Admin calendar popup needs view and edit links"
From the calendar view in the admin there is not currently a way to view an event on the frontend, save for clicking into the edit screen and then clicking view.
![image](https://user-images.githubusercontent.com/1034109/52127750-9f863280-25f8-11e9-8d41-b17fd5648a61.png)
This could be easily improved by adding View and Edit links to the popup instead of only linking the event title to the edit scr

[2019-02-01 14:11] pippinsplugins opened #183 "2.0: Location not shown on event details page"
The event location needs to be displayed on the frontend but is not currently shown.
![image](https://user-images.githubusercontent.com/1034109/52127818-e07e4700-25f8-11e9-95d0-a34b0fb6cc62.png)
![image](https://user-images.githubusercontent.com/1034109/52127823-e4aa6480-25f8-11e9-98c0-3e4b1c741f99.png)

[2019-02-01 21:35] kerijacoby opened #184 "Initial display of end date should be after start date"
<img width="1089" alt="screen shot 2019-02-01 at 1 00 45 pm" src="https://user-images.githubusercontent.com/30249621/52150805-b3508980-2636-11e9-9e8f-a978aa9213f3.png">

[2020-08-03 22:08] #377 closed

[2020-08-03 22:08] JJJ opened #377 "No way to intercept if Event is happening between 2 boundaries"
Advanced Recurring will need a way to intercept and alter the return value of `Event::overlaps()`.

The `Event::overlaps()` method is currently hardcoded to check for both normal events and recurring. This introduces a quirk with Lite, where downgrading from Standard to Lite will still allow for recurring Events to work, which is not ideal and has gone undetected so far.

This is also a good time

[2020-08-03 22:09] JJJ opened #378 "Meta-box background visible with many tabs"
Once there are a few add-ons active, it is possible to see the unstyled background area of the meta-box wrapper:

<img width="788" alt="Screen Shot 2020-04-06 at 11 47 21 AM" src="https://user-images.githubusercontent.com/88951/78583752-df4c3980-77fc-11ea-80d3-fad244ade756.png">
<img width="784" alt="Screen Shot 2020-04-06 at 11 47 34 AM" src="https://user-images.githubusercontent.com/88951/785837

[2020-08-03 22:09] #378 closed

[2020-08-03 22:09] pippinsplugins opened #379 "Query::get_results() column validation doesn't correctly check column names"
$column_names returns an array, where the column name is the key.

https://github.com/sugarcalendar/standard/blob/master/sugar-event-calendar/includes/classes/database/engine/class-query.php#L2786

But then the column validation checks in_array(), when it should actually be checking array_key_exists()

https://github.com/sugarcalendar/standard/blob/master/sugar-event-calendar/includes/classes/data

[2020-08-03 22:09] #379 closed

[2020-08-03 22:10] shaynesanderson opened #380 "Prev/Next Buttons Not Functioning Correctly in "Week" View"
Reported here:
https://secure.helpscout.net/conversation/1183675582/156246?folderId=1909447

When using `[sc_events_calendar type="week"]` the "Previous" button skips months instead of weeks and the "Next" button does nothing at all.

[2020-08-03 22:10] #380 closed

[2020-08-03 22:11] JJJ opened #381 "Remove sc-admin.js"
This file is no longer used, and can safely be unregistered and removed.

[2020-08-03 22:11] #381 closed

[2020-08-03 22:12] JJJ opened #382 "Multiple TwentyTwenty theme styling issues"
## Issues
* `h2` in title has `:before` pseudo styling
* `th` elements have huge font sizing
* Buttons have huge font sizing

## Screenshot
<img width="837" alt="jjj-sc-2020-06-03 at 09 33 09@2x" src="https://user-images.githubusercontent.com/88951/83649826-41b38300-a57d-11ea-9e2d-5993e6bc11ec.png">

[2020-08-03 22:12] #382 closed

[2020-08-03 22:12] JJJ opened #383 "Add support for Legacy sc_event_meta_box_before/after hooks"
In versions previous to 2.0, the meta-box did not have vertical tabs, but simply had hooks at the top and bottom of the meta-box.

Since 2.0, those hooks were removed and never added back. That means plugins using those legacy hooks end up doing nothing. Specifically, this has impacted the Gravity Forms Add-on which relied on these hooks.

This was reported via the WordPress.org Support Forums her

[2020-08-03 22:12] #383 closed